{{template "header.html" .Header}}

<body>
{{template "navbar.html" .}}

<div class="row">
    <div class="grid_12">
        <div class="row">
            <div class="grid_9">
                <h4>Renfunds Vouchers</h4>
                {{if .NavButtons.HasNav}}
                    {{template "navbuttons.html" .NavButtons}}
                {{end}}
                <table>
                    <thead>
                        <tr>
                            <th data-class="expand">
                                Issued
                            </th>
                            <th>
                                Ren number
                            </th>
                            <th>
                                Establishment
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Invoice
                            </th>
                            <th>
                                Remaining
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $element := .Details}}
                            <tr>
                                <td align="left"><a href="/voucher/{{$element.ID}}">{{$element.Date}}</a></td>
                                <td align="left"><a href="/case/{{$element.CaseID}}">{{$element.RENNumber}}</a></td>
                                <td align="left">{{$element.Establishment}}</td>
                                <td align="left"><a href="/client/{{$element.ClientID}}">{{$element.Client}}</a></td>
                                <td align="left">{{$element.Amount}}</td>
                                <td align="left">{{$element.Invoice}}</td>
                                <td align="left">{{$element.Remains}}</td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
                {{if .NavButtons.HasNav}}
                  {{template "navbuttons.html" .NavButtons}}
                {{end}}
            </div> <!-- end of grid_9 -->
        </div> <!-- end of row -->
    </div> <!-- end of grid_12 -->
</div> <!-- end of row -->


</body>
</html>