{{template "header.html" .Header}}

<body>
{{template "navbar.html" .}}

<div class="row">
    <div class="grid_12">
        <div class="row">
            <div class="grid_9">
                <h4>{{.Details.Name}}</h4>
                <div class="row">
                    <div class="grid_10">
                        <div class="grid_2">
                            <strong>Contact:</strong>
                        </div>
                        <div class="grid_7">
                            {{.Details.Contact}}
                        </div>
                    </div>
                </div> <!-- end of row -->
                <div class="row">
                    <div class="grid_10">
                        <div class="grid_2">
                            <strong>Phone:</strong>
                        </div>
                        <div class="grid_7">
                            {{.Details.Phone}}
                        </div>
                    </div>
                </div> <!-- end of row -->
                <div class="row">
                    <div class="grid_10">
                        <div class="grid_2">
                            <strong>E Mail:</strong>
                        </div>
                        <div class="grid_7">
                            {{.Details.EMail}}
                        </div>
                    </div>
                </div> <!-- end of row -->
                <div class="row">
                    <div class="grid_10">
                        <div class="grid_2">
                            <strong>Website:</strong>
                        </div>
                        <div class="grid_7">
                            {{if .Details.URL}}<a href="{{.Details.Link}}">{{.Details.URL}}</a>{{end}}
                        </div>
                    </div>
                </div> <!-- end of row -->
                <div class="row">
                    <div class="grid_10">
                        <div class="grid_2">
                            <strong>Comments:</strong>
                        </div>
                        <div class="grid_7">
                            {{.Details.Comments}}
                        </div>
                    </div>
                </div> <!-- end of row -->
                <div class="row">
                    <div class="grid_10">
                        <div class="grid_2">
                            <strong>Address:</strong>
                        </div>
                        <div class="grid_7">
                            {{.Details.Address}}
                        </div>
                    </div>
                </div> <!-- end of row -->
                <div class="row">
                    <div class="grid_10">
                        <div class="grid_2">
                            <strong>Updated:</strong>
                        </div>
                        <div class="grid_7">
                            {{.Details.Updated}}
                        </div>
                    </div>
                </div> <!-- end of row -->
                <div class="row">
                    <div class="grid_10">
                        <div class="grid_2">
                            &nbsp;
                        </div>
                        <div class="grid_2">
                            <a href="/resourceedit/{{.Details.ID}}" class="button icon edit">Edit</a>
                        </div>
                        <div class="grid_5">
                            <a href="/resourcedelete/{{.Details.ID}}" class="button icon danger trash">Delete</a>
                        </div>
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of grid_9 -->
        </div> <!-- end of row -->
    </div> <!-- end of grid_12 -->
</div> <!-- end of row -->


</body>
</html>