{{template "header.html" .Header}}

<body>
{{template "navbar.html" .}}

<div class="row">
    <div class="grid_9">
        <h4>{{.Details.First}} {{.Details.Surname}}
            &nbsp;&nbsp;<a href="/editclient/{{.Details.Id}}"
            class="button">Edit</a>
         </h4>

        <div clas="row">
            <div class="grid_4">
                {{.Details.Address}}
                Phone: {{.Details.Phone}}<br />
                Mobile: {{.Details.Mobile}}<br />
                EMail: {{.Details.EMail}}<br />
                <br />
            </div>
            <div class="grid_4">
                DOB: {{.Details.DOB}}<br />
                NI Num: {{.Details.NINum}}<br />
                Service No: {{.Details.ServiceNum}}<br />
                Unit: {{.Details.Unit}}<br />
                <br />
            </div>
        </div> <!-- end of row -->
        <div class="row">
            <div class="grid_8">
                <hr>
        {{if .Cases}}
        <table>
            <thead>
                <th>Case number</th>
                <th>CMS number</th>
                <th>Case Worker</th>
                <th>State <a href="/caseadd/{{.Details.Id}}" class="button">Add</a></th>
            </thead>
            <tbody>
                {{range $element := .Cases}}
                    <tr>
                        <td align="left"><a href="/case/{{$element.Id}}">{{$element.CaseNumber}}</a></td>
                        <td align="left">{{$element.CMSNumber}}</td>
                        <td align="left">{{$element.CaseWorker}}</td>
                        <td align="left">{{$element.State}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
        {{else}}
            <hr />
            <p>
                No cases
            </p>
        {{end}}
            </div>
        </div>
        <table>
            <thead>
                <th>Date</th>
                <th>Comment</th>
                <th>Case Worker</th>
                <th></th>
            </thead>
            <tbody>
                <form action="/commentclient/{{.Details.Id}}" method="post">
                    <tr class="commentform">
                        <td></td>
                        <td><textarea name="comment" placeholder="New comment" rows="3"></textarea></td>
                        <td>
                            <input type="hidden" name="id" value="{{.Details.Id}}">
                            <input name="commit" type="submit" value="Add comment">
                        </td>
                    </tr>
                </form>
                {{range $element := .Details.Comments}}
                    <tr>
                        <td>{{$element.Date}}</td>
                        <td>{{$element.Comment}}</td>
                        <td>{{$element.Name}}</td>
                        <td><a href="/clientcomment/{{$element.Item}}/{{$element.Num}}" class="button">Edit</a></td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div> <!-- end of grid_9 -->
</div> <!-- end of row -->


</body>
</html>