{{template "header.html" .Header}}

<body>
{{template "navbar.html" .}}

<div class="row">
    <div class="grid_12">
        <div class="row">
            <div class="grid_9">
                <h4>{{.Details.First}} {{.Details.Surname}}</h4>
                {{.Details.Address}}
                <table>
                    <thead>
                        <th>Case number</th>
                        <th>Case Worker</th>
                        <th>State</th>
                    </thead>
                    <tbody>
                        {{range $element := .Details.Cases}}
                            <tr>
                                <td align="left"><a href="/case/{{$element.Id}}">{{$element.CaseNumber}}</a></td>
                                <td align="left">{{$element.CaseWorker}}</td>
                                <td align="left">{{$element.State}}</td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
                {{range $element := .Details.Reports}}
                    {{$element}}<br />
                {{end}}
                {{range $element := .Details.Comments}}
                    {{$element}}<br />
                {{end}}
            </div> <!-- end of grid_9 -->
            {{template "clientsearch.html" .}}
        </div> <!-- end of row -->
    </div> <!-- end of grid_12 -->
</div> <!-- end of row -->


</body>
</html>