<div class="grid_3">
    <div id="foo" class="open-srch">
        <div>
            <form method="post" class="srch-form-wrapper" action="/searchclient">
                <input type="submit" class="srch-button" value="Search">
                <input type="search" name="search" id="searchr" class="srch-field" placeholder="Search term" size="30">
                <select name="stype">
                    <option value="nm" selected>Name</option>
                    <option value="cn">Case Number</option>
                    <option value="ad">Address</option>
                    <option value="se">Service</option>
                </select>
            </form>
        </div>
    </div>
</div>  <!-- end of grid_3 -->
