{{template "header.html" .Header}}

<body>
{{template "navbar.html" .}}

<div class="row">
    <div class="grid_9">
        <h4>{{.Details.First}} {{.Details.Surname}}
            &nbsp;&nbsp;<a href="/editclient/{{.Details.Id}}"
            class="button icon arrowleft">Edit</a>
         </h4>

        <div clas="row">
            <div class="grid_4">
                {{.Details.Address}}
                {{if .Details.Phone}}Phone: {{.Details.Phone}}<br />{{end}}
                {{if .Details.Mobile}}Mobile: {{.Details.Mobile}}<br />{{end}}
                {{if .Details.EMail}}EMail: {{.Details.EMail}}<br />{{end}}
                <br />
            </div>
            <div class="grid_4">
                {{if .Details.DOB}}DOB: {{.Details.DOB}}<br />{{end}}
                {{if .Details.NINum}}NI Num: {{.Details.NINum}}<br />{{end}}
                {{if .Details.ServiceNum}}Service No: {{.Details.ServiceNum}}<br />{{end}}
                {{if .Details.Unit}}Service: {{.Details.Unit}}<br />{{end}}
                <br />
            </div>
        </div> <!-- end of row -->
        <table>
            <thead>
                <th>Case number</th>
                <th>CMS number</th>
                <th>Case Worker</th>
                <th>State Add</th>
            </thead>
            <tbody>
                {{range $element := .Details.Cases}}
                    <tr>
                        <td align="left"><a href="/case/{{$element.Id}}">{{$element.CaseNumber}}</a></td>
                        <td align="left">{{$element.CMSNumber}}</td>
                        <td align="left">{{$element.CaseWorker}}</td>
                        <td align="left">{{$element.State}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
        <table>
            <thead>
                <th>Date</th>
                <th>Comment</th>
                <th>Case Worker</th>
            </thead>
            <tbody>
                {{range $element := .Details.Comments}}
                    <tr>
                        <td>{{$element.Date}}</td>
                        <td>{{$element.Comment}}</td>
                        <td>{{$element.Name}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
        <table>
            <thead>
                <th>Date</th>
                <th>Report</th>
                <th>Case Worker</th>
            </thead>
            <tbody>
                {{range $element := .Details.Reports}}
                    <tr>
                        <td>{{$element.Date}}</td>
                        <td>{{$element.Comment}}</td>
                        <td>{{$element.Name}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div> <!-- end of grid_9 -->
    <div class="grid_3">
        {{template "clientsearch.html" .}}
    </div>
</div> <!-- end of row -->


</body>
</html>