{{template "header.html" .Header}}

<body>
{{template "navbar.html" .}}

<div class="row">
    <div class="grid_12">
        <div class="row">
            <div class="grid_9">
                <h3>Renfunds Clients</h3>
                {{if .NavButtons.HasNav}}
                  {{template "navbuttons.html" .NavButtons}}
                {{end}}
                <table>
                    <thead>
                        <tr>
                            <th data-class="expand">
                                Surname
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                <div class="navbuttons">
                                    DOB
                                    {{if .Header.Admin}}
                                        &nbsp;&nbsp;&nbsp;<a href="/newclient" class="button icon arrowleft">Add client</a>
                                    {{end}}
                                </div>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $element := .Details}}
                            <tr>
                                <td align="left"><a href="/client/{{$element.Id}}">{{$element.Surname}}</a></td>
                                <td align="left"><a href="/client/{{$element.Id}}">{{$element.First}}</a></td>
                                <td align="left"><a href="/client/{{$element.Id}}">{{$element.DOB}}</a></td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
                {{if .NavButtons.HasNav}}
                  {{template "navbuttons.html" .NavButtons}}
                {{end}}
            </div> <!-- end of grid_9 -->
            {{template "clientsearch.html" .}}
        </div> <!-- end of row -->
    </div> <!-- end of grid_12 -->
</div> <!-- end of row -->


</body>
</html>