{{template "header.html" .Header}}

<body>

<div class="row">
    <div class="grid_9">
        <br />
        <h5>Password reset e-mail sent </h5>
        <p>
          An e-mail has been sent to your e-mail address. It will contain a link which will allow you to
          reset your password. Click on this link and you will go to a page which asks you to enter your
          user name and your new password.
        </p>
    </div> <!-- end of grid_12 -->
</div> <!-- end of row -->

</body>
</html>
