{{template "header.html" .Header}}

<body>
{{template "navbar.html" .}}

<div class="row">
    <div class="grid_12">
        <!-- <div class="row"> -->
            <!-- <div class="grid_9"> -->
                <div class="row">
                    <div class="grid_2">
                        <h5>{{.Details.RENNumber}}</h5>
                    </div>
                    <div class="grid_1">
                        <div class="button-group">
                            <a href="/caseedit/{{.Details.ID}}" class="button">Edit</a>
                        </div>
                    </div>
                    <div class="grid_1">
                    {{if .Header.Admin}}
                        <div class="button-group">
                            {{if .Details.Open}}
                            <a href="/caseclosed/{{.Details.ID}}" class="button">Close</a>
                            {{else}}
                            <a href="/caseopened/{{.Details.ID}}" class="button">Open</a>
                            {{end}}
                        </div>
                    {{end}}
                    </div>
                    <div class="grid_2">
                        {{if .Header.Admin}}
                            {{if .Details.Voucher}}
                            <div class="button-group">
                                <a href="/addvoucher/{{.Details.ID}}" class="button">Add voucher</a>
                            </div>
                            {{end}}
                        {{end}}
                    </div>
                    <div class="grid_2">
                        {{if .Header.Admin}}
                            <div class="button-group">
                                <a href="/casedelete/{{.Details.ID}}" class="button">Delete</a>
                            </div>
                        {{end}}
                    </div>
                </div> <!-- end of row -->
                {{template "rowitemlink.html" .Details.ClientName}}
                {{template "rowitem.html" .Details.CaseWorker}}
                {{template "rowitem.html" .Details.CMSNumber}}
                {{template "rowitem.html" .Details.Opened}}
                {{template "rowitem.html" .Details.Updated}}
                {{template "rowitem.html" .Details.State}}
                {{if .Details.HasVoucher}}
                    <hr />
                    <h6><strong>Vouchers</strong></h6>
                    <table>
                        <thead>
                            <th>Date</th>
                            <th>Establishment</th>
                            <th>Amount</th>
                            <th>Remaining</th>
                            <th>Invoice</th>
                            <th>Updated</th>
                        </thead>
                        <tbody>
                            {{range $element := .Details.VoucherList}}
                                <tr>
                                    <td><a href="/vouchereditcase/{{$element.ID}}">{{$element.Date}}</a></td>
                                    <td><a href="/vouchereditcase/{{$element.ID}}">{{$element.Establishment}}</a></td>
                                    <td><a href="/vouchereditcase/{{$element.ID}}">{{$element.Amount}}</a></td>
                                    <td><a href="/vouchereditcase/{{$element.ID}}">{{$element.Remaining}}</a></td>
                                    <td><a href="/vouchereditcase/{{$element.ID}}">{{$element.Invoice}}</a></td>
                                    <td><a href="/vouchereditcase/{{$element.ID}}">{{$element.Updated}}</a></td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                {{end}}
                <table>
                    <thead>
                        <th>Date</th>
                        <th>Comment</th>
                        <th>Case Worker</th>
                    </thead>
                    <tbody>
                        <form action="/commentcase/{{.Details.ID}}" method="post">
                            <tr class="commentform">
                                <td></td>
                                <td><textarea name="comment" placeholder="New comment" rows="3"></textarea></td>
                                <td>
                                    <input type="hidden" name="id" value="{{.Details.ID}}">
                                    <input name="commit" type="submit" value="Add comment">
                                </td>
                            </tr>
                        </form>
                        {{range $element := .Details.Reports}}
                            <tr>
                                <td>{{$element.Date}}</td>
                                <td>{{$element.Comment}}</td>
                                <td>{{$element.Name}}</td>
                                <td><a href="/casecomment/{{$element.Item}}/{{$element.Num}}">Edit</a></td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
            <!-- </div> end of grid_9 -->
        <!-- /div> < end of row -->
    </div> <!-- end of grid_12 -->
</div> <!-- end of row -->


</body>
</html>